.Container{
    width: 100%;
}

.RenderLoading{
    display: flex;
    margin: 0 auto;
    
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.RenderLoading p{
    font-size: 25px;
}