@import '../../services/break-points.scss';

$color-light-blue: #71cbf5;
$color-dark-blue: #1759bd;

.Content{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em 0em 0em 0em;
    width: 90%; 
    padding-bottom: 15px;   
    height: 77.5vh;  
    @include tablet {
        height: 73.1vh;
    } 
}

.SearchContent{
    display: flex;
    flex-direction: row;
    width: 90%; 
    @include tablet {
        width: 75%;
    }
    @include laptop {
        width: 55%;
    }
}

.SearchContent input{
    //vertical-align: middle;
    width: 95%;
    height: 2.1rem;
    background-color: $color-light-blue;
    color: rgb(17, 17, 17);
    font-weight: bold;
    border-style: none;
    padding: 7px;
    padding-left: 30px;
    border-radius: 50px 0px 0px 50px;

    @include tablet {
        width: 80%;
    }
}

.SearchContent button{
    height: 3rem;
    vertical-align: middle;
    border-style: none;
    width: 3rem;
    background-color: $color-dark-blue;
    color: white;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;

    &:hover{
        background-color: $color-light-blue; 
        color: $color-dark-blue;
        border-style: none;
    }
}

.SearchContent button i{
    font-size: 25px;   
}

.RenderContent{
    margin-top: 20px;
    padding: 10px;
    //background-color: #59bb66;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.ContentNotFound{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: rgb(245, 83, 83);
    color: white;
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    margin-top: 20px;
    align-items: center;

    @include tablet {
        width: 350px;
    }
    @include laptop {
        width: 400px;
    }
    @include desktop {
        width: 550px;
    }
}

.ContentNotFound i {
    font-size: 40px;
}

.ContentNotFound p{
    font-size: 20px;
    
    padding-left: 20px;
}