

.ButtonAlert{
    background-color: #233291;
    height: 30px;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    width: 90%;
    cursor: pointer;

    &:hover{
        color: #233291;
        background-color: #fff;
    }
}