#uploads
api/public/uploads

# dependencies
frontend/node_modules
api/node_modules
/.pnp
.pnp.js

# production
/build
/dist

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env
api/.env
frontend/.env

# vercel
.vercel

# postgres
/postgres


