@import '../../services/break-points.scss';

.dark {
    .Container h2{
        color: rgb(246, 246, 250);
    }
}

.Container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%; 
    padding-bottom: 15px;
    height: 80.4vh;  
    @include tablet {
        height: 78.8vh;
    }
    @include desktop {
        height: 75.6vh;
    }      
}

.Container h2{
    font-size: 25px;
    color: rgb(33, 33, 116);
    font-style: italic;  
    @include tablet {
        font-size: 40px;
    }   
}

.RenderContent{
    margin-top: 10px;
    //background-color: #59bb66;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ContentNotFound{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: rgb(245, 83, 83);
    color: white;
    border-radius: 5px;
    padding: 8px;
    width: 90%;
    margin-top: 20px;
    align-items: center;
    @include tablet {
        width: 350px;
    }
    @include laptop {
        width: 400px;
    }
    @include desktop {
        width: 550px;
    }
}

.ContentNotFound i {
    font-size: 40px;
}

.ContentNotFound p{
    font-size: 20px;    
    padding-left: 20px;
}