
.dark{
    background-color: rgb(41, 40, 40);
    width: 100%;

    .ContentPerfil a{
        text-decoration: none;
        color: rgb(248, 248, 250);
        &:hover{
            color: rgb(164, 161, 196); 
        }
    }

    .ContentPerfil img{
        color: white;
    }
}

.Content{
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

.ContentPerfil{
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 5px;
    padding-right: 15px ;
    width: 95%
}

.ContentPerfil a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: rgb(11, 4, 77);

    &:hover{
        color: rgb(164, 161, 196); 
    }
}


.ContentPerfil img{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 5px;
}