@import "../../services/break-points.scss";


$color-default: #fff;

header{
    color: #{$color-default};
    background: linear-gradient(90deg, rgba(1,74,102,1) 0%, rgba(3,187,235,1) 100%);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;  
}

header a img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 4em;
    height: 1.8em;

    @include tablet {
        width: 5.5em;
        height: 2em;
    }
    
}

header a {
    font-weight: bold;
    font-size: 19px;
    font-style: italic;
    color: #{$color-default};
    text-decoration: none;
    cursor: pointer;
    
    @include tablet {
        font-size: 23px;
    }
}

header a i{
    font-size: 23px;

    @include tablet {
        font-size: 30px;
    }
}

.ContentOption{
    display: flex;
    width: 30%;
    justify-content: space-around;

    @include tablet {
        width: 20%;
    }
}


.Toggle{
   margin-top: 8px;
}



.Option{
    display: flex;
    width: 12%;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;

   @include tablet {
        width: 8%;
    }

    @include laptop {
        width: 6%;
    }

    &:hover{
        color: rgb(36, 33, 190);
    }
}

.NumShopCart{
    padding: 1px;
    font-size: 16px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}