@import '../../services/break-points.scss';

$color-default: #023480;


.Content{
    margin: 0 auto;
    margin-top: 30px;
    //background-color: rgb(138, 196, 243);
    background: rgb(208, 228, 245);
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 100%;
        display: flex;
        flex-direction: row;
    }


    @include laptop {
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    @include desktop {
        width: 60%;
        display: flex;
        flex-direction: row;
    }
}

.Content img{
    width: 300px;
    height: 300px;

    @include laptop {
        width: 400px;
        height: 400px;
    }
}

.ContentInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ContentInfo h1{
    cursor: pointer;
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    color: $color-default;

    &:hover{
        color: rgb(64, 94, 226);
    }
}


.RowInfo{
    display: flex;
    flex-direction: row; 
    //background-color: rgb(224, 54, 54);
}

.Info{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    color: $color-default;
    //background-color: #87d422;
}

.InfoValue{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #233291;
    //background-color: #2e4e04;
}

.CalcCep{
    margin-top: 5px;
}

.CalcCep input{
    height: 30px;
    width: 85%;
}

.ButtonSearchCEP{
    margin-top: 5px;
    height: 36px;
    background-color: #233291;
    border: none;
    color: #fff;
    cursor: pointer;
    
    &:hover{
        color: #fff;
        background-color: rgb(27, 61, 255);
    }
}

.FinishShop{
    margin-bottom: 10px;
    background-color: #233291;
    height: 30px;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;

    &:hover{
        color: #233291;
        background-color: #fff;
    }
}
